<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.bopomofo</string>
	<key>CFBundleName</key>
	<string>Bopomofo</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>KLInfo_Bopomofo</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.bopomofo.bopomofo</string>
		<key>TISIntendedLanguage</key>
		<string>zh-Bopo</string>
	</dict>
</dict>
</plist>
